html, body {
    position: relative;
    height: 100%;
}

#About {
    padding-top: 50px;
    height: 100%;
    color: #fff;
}

#Experience {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #ff9800;
}

#Education {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #ff6a00;
}


#Projects {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #00bcd4;
}

#Contacts {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #009688;
}

.my-photo{
    border-radius:50%;
    height: 200px;
    width: 220px;
    
}
.my-info-text {
    color: #808080;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -0.3rem;
    letter-spacing: 0.05rem;
}
.my-info-summary {
    margin: 2rem auto;
    line-height: 1.4;
    color: dimgray;
    font-size: 1.4rem;
}