<p><img src="~/images/error.jpg" class="img-fluid" alt="Responsive image"></p>
<p id="redirect_counter" class="my-info-summary">Redirecting after <span id="redurect_seconds">10</span> <span id="seconds_span"> seconds</span></p>
<script src="~/js/error.js"></script>