@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div data-spy="scroll" data-target="#navbar" data-offset="0">
    <div id="About" class="container-fluid">
        <h1>About me</h1>
        <div class="row">
            <div class="col-md-2 text-center offset-4">
                <img src="~/images/trifon.jpg" class="my-photo" alt="Trifon">
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <h2 class="mt-1">Trifon Yanakiev</h2>
                <p class="my-info-text mt-3">
                    Green Bay, WI 54313. &nbsp;|&nbsp; <a href="mailto:trifon.yanakiev@gmail.com">trifon.yanakiev@gmail.com</a>
                </p>
                <p class="my-info-summary">
                    Quick-learning software enthusiast with 5 years of experience in computer science, programming, database design and administration.
                    Strong problem-solving skills. Skilled but not limited to: Python, C#, .NET, Java and managing a SQL database.
                </p>
            </div>
            
        </div>
    </div>
    <div id="Experience" class="container-fluid">
        <h1>Experience</h1>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
    </div>
    <div id="Education" class="container-fluid">
        <h1>Education</h1>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
    </div>
    <div id="Projects" class="container-fluid">
        <h1>Projects</h1>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
    </div>
    <div id="Contacts" class="container-fluid">
        <h1>Contacts</h1>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
        <p>. </p>
    </div>

</div>