@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div data-spy="scroll" data-target="#navbar" data-offset="0">
    <div id="About" class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center offset-4 projects">
                <img src="~/images/trifon.jpg" class="my-photo d-none d-sm-block" alt="Trifon">
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <h2 class="mt-5">Trifon Yanakiev</h2>
                <p class="my-info-text mt-3">
                    Green Bay, WI. &nbsp;|&nbsp; <a href="mailto:trifon.yanakiev@gmail.com">trifon.yanakiev@gmail.com</a>
                </p>
                <p class="my-info-summary">
                    Quick-learning software enthusiast with 5 years of experience in computer science, programming, database design and administration.
                    Strong problem-solving skills. Skilled but not limited to: Python, C#, .NET, Java and managing a SQL database.
                </p>
            </div>

        </div>
    </div>
    <div id="Experience" class="container-fluid">
        <h1>Experience</h1>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://www.gp.com/">Georgia Pacific</a></h4>
                <h5>Software Analyst</h5>
                <p class="card-text">June 2019 – Present</p>
                <p class="card-text">Location: Green Bay, Wisconsin, USA</p>
                <p class="card-text">
                    Develop and support software to aid manufacturing facilities with data analysis, predictive measures and automation using Python(numpy, scipy, pandas) .
                </p>
                <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://www.beacontechnologies.com/">Beacon Technologies</a></h4>
                <h5>Consultant</h5>
                <p class="card-text">June 2019 – Present</p>
                <p class="card-text">Location: Green Bay, Wisconsin, USA</p>
                <p class="card-text">Working with Beacon's clients to provide quality software solutions.</p>
                <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://www.baycare.net/">BayCare Clinic</a></h4>
                <h5>Web Developer Internship</h5>
                <p class="card-text">May 2018 – May 2019</p>
                <p class="card-text">Location: Green Bay, Wisconsin, USA</p>
                <p class="card-text">Developing .NET applications. Using SQL, JS on daily bases. Using PowerShell scripts to migrate data between managment systems and databases.</p>
                <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://pros.com/news/about-prosnewspros-acquires-vayant-travel-technologies-expands-modern-commerce-solutions-travel-industry/">Vayant Travel Technologies</a></h4>
                <h5>Automation Developer</h5>
                <p class="card-text">May 2015 – Jul 2017</p>
                <p class="card-text">Location: Bulgaria, Sofia</p>
                <p class="card-text">
                    Automation of all processes needed for ensuring quality of search platform.
                    Develop and extend the Continuous Integration framework to increase the test coverage of all Vayant products.
                </p>
                <p class="card-text">
                    Ensure high quality of the testing process and implementation of new procedures
                    Review and identify potential issues that may impact project success See less
                </p>
                <p class="card-text"><small class="text-muted">Last updated 1 year ago</small></p>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://www.ipsos.com/en">Ipsos</a></h4>
                <h5>Scriptwriter</h5>
                <p class="card-text">Dec 2013 – Apr 2015</p>
                <p class="card-text">Location: Bulgaria, Sofia</p>
                <p class="card-text">
                    The role of the scriptwriter is to execute and deliver market research surveys using specific VB based software in combination with web technologies (such as JavaScript and HTML).
                </p>
                <p class="card-text">
                    This position combines development, quality assurance and direct communication with clients.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 year ago</small></p>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="https://melontech.com/">Melon, Inc.</a></h4>
                <h5>Web Developer Trainee</h5>
                <p class="card-text">Jun 2013 – Oct 2013</p>
                <p class="card-text">Location: Bulgaria, Sofia</p>
                <p class="card-text">
                    Learn to develop web applications based on Django framework. Learning Python and web development practices.
                </p>
                <p class="card-text">
                    Learned MVC method, gained skills with CSS, HTML and JS.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 5 year ago</small></p>
            </div>
        </div>


    </div>
    <div id="Education" class="container-fluid">
        <h1>Education</h1>
        <div class="card border-success mb-3">
            <div class="card-body">
                <h4 class="card-title">Northeast Wisconsin Technical College</h4>
                <h5>Software Developer</h5>
                <p class="card-text">May 2017 – May 2019</p>
                <p class="card-text">Location: Green Bay, Wisconsin, USA</p>
                <p class="card-text">This two-year program prepares its learners to design, develop and test business application software using various leading programming languages. Graduates will be proficient in HTML, C#, Java, PHP, ASP.NET, and SQL along with various supporting technologies in networking, database development, documentation, and system analysis and design. Graduates will be prepared to support the software development needs of businesses in a wide variety of industries. Training blends general education development with required IT technical skills. All courses are offered in an in-person format and some are also offered online for additional flexibility.</p>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-body">
                <h4 class="card-title">Technical University Sofia</h4>
                <h5>Bachelor's Degree, Mechatronics, Robotics, and Automation Engineering</h5>
                <p class="card-text">Dates 2009 – 2013</p>
                <p class="card-text">Location: Sofia, Bulgaria</p>
                <p class="card-text">Study general disciplines in the field of control theory, identification systems, automation and process control, automation of electromechanical systems, measurement of electrical and non-electrical quantities, technical automation devices, microprocessor systems, programming and use of computers systematic analysis and decision making..</p>
            </div>
        </div>

    </div>
<div id="Projects" class="container-fluid">
    <h1>Projects</h1>
    <div class="row">
        <div class="card-deck">
            <div class="col-sm-6 d-flex align-items-stretch projects">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">My personal website/portfolio</h5>
                        <p class="card-text"><i class="fa fa-github" style="font-size:36px"></i> Github: <a href="https://github.com/tyanakiev/TrifonWebSite">Link</a></p>
                        <p class="card-text">I build this portfolio website so I can present my ideas and views better.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch projects">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">Django Simple Quiz App</h5>
                        <p class="card-text"><i class="fa fa-github" style="font-size:36px"></i> Github: <a href="https://github.com/tyanakiev/DjangoSimpleQuiz">Link</a></p>
                        <p class="card-text">I had to present Django for a class in NWTC, so i decided to show them how to build a Django Quiz App. After that they took the same quiz.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch projects">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">Java Snake Game</h5>
                        <p class="card-text"><i class="fa fa-github" style="font-size:36px"></i> Github: <a href="https://github.com/tyanakiev/Snake-Java">Link</a></p>
                        <p class="card-text">For my Java Dev 2 class I build a snake game. Its a simple old time snake game that has no borders and keeps record of your score.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch projects">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">C# WPF Yahtzee game</h5>
                        <p class="card-text"><i class="fa fa-github" style="font-size:36px"></i> Github: <a href="https://github.com/tyanakiev/Yahtzee">Link</a></p>
                        <p class="card-text">For my C# Part 2 class I had to build Yahtzee game. It has a 'AI' build in to play against. The 'insane AI' calculates the chance to roll higher score and pick always the best choice.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch projects">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">AutoMark - bot for social networking</h5>
                        <p class="card-text"><i class="fa fa-github" style="font-size:36px"></i> Github: <a href="https://github.com/tyanakiev/AutoMark">Link</a></p>
                        <p class="card-text">The idea behind this project was to build a bot that will automatically linke, comment and follow people with given criteria. It is build with Python and Django.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

</div>